*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

*.iml
*.ipr
*.iws
.idea/

.vscode/

**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

app.*.symbols

app.*.map.json

/android/app/debug
/android/app/profile
/android/app/release

*.g.dart
*.freezed.dart
*.gr.dart
*.config.dart
*.chopper.dart

coverage/
test/coverage_helper_test.dart

*.lock

.env
.env.local
.env.production

ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

android/.gradle/
android/captures/
android/gradlew
android/gradlew.bat
android/local.properties
android/app/src/main/res/values/strings_config.xml

web/icons/Icon-192.png
web/icons/Icon-512.png
web/icons/Icon-maskable-192.png
web/icons/Icon-maskable-512.png
web/manifest.json
web/favicon.png

macos/Pods/
macos/.symlinks/

linux/flutter/
linux/.dart_tool/

windows/flutter/
windows/.dart_tool/

*.hprof